html,
body {
  background: #fff;
  color: #000;
  font-family: Helvetica, sans-serif;
}

h1,
.h1 {
  font-size: 28px;
}

h2,
.h2 {
  font-size: 20px;
}

h3,
.h3 {
  font-size: 18px;
}

h4,
.h4 {
  font-size: 16px;
}

h5,
.h5 {
  font-size: 14px;
}

a {
  text-decoration: underline;
}
a:hover {
  color: #000;
}

.black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.border-black {
  border-color: #000;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.border-white {
  border-color: #fff;
}

.no-flick {
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
  transition: translate3d(0, 0, 0);
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-padding-left {
  padding-left: 0;
}

.break,
.break5,
.break10,
.break15,
.break20,
.break25,
.break30,
.break35,
.break40,
.break45,
.break50,
.break55,
.break60 {
  clear: both;
  display: block;
  height: 1px;
}

.break5 {
  height: 5px;
}

.break10 {
  height: 10px;
}

.break15 {
  height: 15px;
}

.break20 {
  height: 20px;
}

.break25 {
  height: 25px;
}

.break30 {
  height: 30px;
}

.break35 {
  height: 35px;
}

.break40 {
  height: 40px;
}

.break45 {
  height: 45px;
}

.break50 {
  height: 50px;
}

.break55 {
  height: 55px;
}

.break60 {
  height: 60px;
}
