*.pyc
*.sw[op]
.backup
.DS_Store
.env
.sass-cache
.venv
/locale/
/node_modules/
/public/
/static/webpack-stats-dev.json
__pycache__/
db.sqlite3
node_modules/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
