{% load cms_tags sekizai_tags staticfiles i18n %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}{% page_attribute "page_title" %}{% endblock %} - {{ request.site.name }}</title>
<meta name="description" content="{% block meta_description %}{% page_attribute "meta_description" %}{% endblock %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{% block link_canonical %}{{ request.scheme }}://{{ request.site }}{{ request.path }}{% endblock %}">

{% addtoblock "css" %}
{% render_bundle 'main' 'css' %}
{% endaddtoblock %}

{% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
</head>
<body>
{% cms_toolbar %}
<!--[if lt IE 9]>
<p class="browserupgrade">{% blocktrans %}You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.{% endblocktrans %}</p>
<![endif]-->

{% block base_content %}{% endblock %}

{% addtoblock "js" %}
{% render_bundle 'main' 'js' %}
{% endaddtoblock %}

{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
</body>
</html>
