@import 'compass';

// Colors.
$black: #000;
$white: #fff;

$primary-color: $black;
$hover-color: $black;
$bg-color: $white;

$color-map: (
  'black': $black,
  'white': $white,
);

// Fonts.
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext");
$font-stack: 'Open Sans', Helvetica, sans-serif;

// Headings.
$h1-size: 28px;
$h2-size: 20px;
$h3-size: 18px;
$h4-size: 16px;
$h5-size: 14px;
$h6-size: 12px;

$h-size-list: $h1-size, $h2-size, $h3-size, $h4-size, $h5-size, $h6-size;

// Durations.
$duration-fast: .3s;
$duration-normal: .5s;
$duration-slow: 1s;

@import 'modules/all';


html,
body {
  background: $bg-color;
  color: $primary-color;
  font-family: $font-stack;
}
