@import 'compass';


// Colors
$black: #000;
$dark-grey: #222;
$grey: #444;
$light-grey: #ccc;
$white: #fff;

$color-map: (
  'black': $black,
  'dark-grey': $dark-grey,
  'grey': $grey,
  'light-grey': $light-grey,
  'white': $white,
);

$bg-color: $white;

$base-color: $grey;
$darker-color: $dark-grey;
$lighter-color: $light-grey;

$base-link-color: $darker-color;
$hover-link-color: $base-color;


// Fonts
$font-family: Helvetica, sans-serif;

// Headings
$h-color: $darker-color;

$h1-font-size: 28px;
$h2-font-size: 20px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$h6-font-size: 12px;

$h-font-size-list: (
  $h1-font-size, $h2-font-size, $h3-font-size,
  $h4-font-size, $h5-font-size, $h6-font-size);


// Compass Vertical Rhythm
$base-font-size: 14px;
$base-line-height: 20px;
$round-to-nearest-half-line: true;
@include establish-baseline;


// Durations
$duration-fast: .3s;
$duration-normal: .5s;
$duration-slow: 1s;


@import 'modules/all';


// Base styles
body {
  background-color: $bg-color;
  color: $base-color;
  font-family: $font-family;
  font-size: inherit;
  line-height: inherit;
}


// Browser Upgrade Prompt (html5boilerplate)
.browserupgrade {
  background: $lighter-color;
  margin-bottom: rhythm();
  padding: rhythm() 15px;
}
