// Typography
$base-font-family: Helvetica, sans-serif;
$heading-font-family: $base-font-family;


// Font Sizes
$base-font-size: 14px;

$h1-font-size: 36px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$h5-font-size: $base-font-size;
$h6-font-size: 12px;

$h-font-size-list: (
  $h1-font-size, $h2-font-size, $h3-font-size,
  $h4-font-size, $h5-font-size, $h6-font-size);


// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;


// Colors
$black: #000;
$dark-grey: #333;
$grey: #999;
$light-grey: #ddd;
$white: #fff;
$blue: #477dca;

$color-map: (
  'black': $black,
  'dark-grey': $dark-grey,
  'grey': $grey,
  'light-grey': $light-grey,
  'white': $white,
  'blue': $blue,
);


// Font Colors
$base-background-color: $white;
$base-font-color: $dark-grey;
$action-color: $blue;


@import 'modules/all';


// Base styles
body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}


// Browser Upgrade Prompt (html5boilerplate)
.browserupgrade {
  background: $light-grey;
  margin-bottom: 1.333em;
  padding: 1.333em 15px;
}
